*,*::before, *::after{
    box-sizing: border-box;
}
.product_array h2::before{
    content: "\a";
    white-space: pre;
}

#container{
    padding: 0;
    margin: 0;
    background-color:rgb(231, 223, 223);
    font-family: 'Kdam Thmor Pro', sans-serif;
    margin-bottom: 4rem;
}
.main-logo{
    display: flex;
    align-items:center;
    font-size:xx-large;
    max-width: 100%;
    color: inherit;
    text-decoration: inherit;
}
#menubar h1{
    font-size:large
    
}
#banner_photo{
    width:max-content;
    margin-left:auto;
    margin-right:auto;
    margin-top:3rem;
}
#main-body-products{
}

#products{
    align-items: center;
    display: flex;
    width:max-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 4rem;
}
.product_array{
    color:inherit;
    margin-right:3rem;

}


#menubar{
    display: flex;
    align-items:center;
    width:auto;
    height: 80px;
    background-color: rgb(42, 152, 249);
    color: white;
    text-decoration: none;
}
#menubar ul{
    align-items: center;
    display: flex;
    margin-left: auto;
    margin-right: 2rem
}
#menu-options *{
    color: inherit;
    margin-right: 1rem;
    text-decoration: inherit;
}
.brand-logo-name{
    margin-left: 1rem;
    margin-right: 1rem;
}



/*#menu-options a::after{
    content: "      |";
}*/

/*#info h2{
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-size: larger;
}
#info p{
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-size: small;
}*/
